@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="row mt-4">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <div class="card">
            <div class="card-header bg-NCCOrange text-white">
                <h2>Contact Us</h2>
            </div>
            <div class="card-body">
                <p>
                    Main Phone: <a href="tel:+15165551234">+1 (516) 572-7501</a><br />
                    Admissions Email: <a href="mailto:admissions@ncc.edu">admissions@ncc.edu</a><br />
                    General Inquiries: <a href="mailto:info@ncc.edu">info@ncc.edu</a>
                </p>

                <p>
                    Address:<br />
                    Nassau Community College<br />
                    1 Education Drive<br />
                    Garden City, NY 11530
                </p>

                <p>
                    Office Hours: Monday–Friday, 9:00 AM – 5:00 PM (Closed on public holidays). For urgent assistance,
                    please call the main phone number above.
                </p>
            </div>
        </div>
    </div>
</div>