
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<head>
    <style>
        h2 {
            font-weight: normal;
            color: white;
        }
    </style>
</head>
<body>
    <h2>FAQ</h2>
</body>