
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Registration Successful @Model.lastName</h2>
<h3>Thank you for registering at Nassau Community College</h3>
