<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body style="background-image: url('../../images/c_yme2nzhkywutotvimi00_zmrlmgq5yzytngrkmy00.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <header>
        <div class="text-center" style="background-color: #000f3a; padding: 10px 0;">
            <img src="~/Images/Screenshot 2026-02-12 090941.png" style="width: 100px; height: auto;" />
        </div>

        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #000f3a; border-top: 2px solid #2c326b; ">
            <ul class="navbar-nav justify-content-center w-100">
                <li class="nav-item">
                    <a class="nav-link text-uppercase" style="color: white;" href="~/Default/Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" style="color: white;" href="~/Default/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" style="color: white;" href="~/Default/Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" style="color: white;" href="~/Default/FAQ">FAQ</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <article style="padding-top: 20px;">
            @RenderBody()
        </article>

        <footer style="margin-top: 20px;">
            <div class="p-3" style="background-color: #EC7E22; color: white;">
                <strong>Page and Graphics By:</strong> Nassau Community College
            </div>
        </footer>
    </div>
</body>
</html>