body {
    font-family: 'Montserrat', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.6;
}

/* Free alternative to font used on NCC Website */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Free alternative to font used on NCC Website */
.article-serif, p, .card-body {
    font-family: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
}

/* keep existing styles */
.bg-NCCBlue {
    background-color: #000f3a !important;
    padding: 10px 0;
}

/* Free alternative to font used on NCC Website */
.bg-NCCBlue .nav-link {
    color: white !important;
}

.bg-NCCOrange {
    background-color: #EC7E22 !important;
    padding: 10px 0;
}
